@font-face {
  font-family: Exo-SemiBold;
  src: url("../fonts/exo.eot"), url("../fonts/exo.woff") format("woff"), url("../fonts/exo.woff2") format("woff2"), url("../fonts/Exo-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: SFPro;
  src: url("../fonts/sfprotext.woff") format("woff"), url("../fonts/SFProText.ttf") format("truetype"); }
@font-face {
  font-family: SF;
  src: url("../fonts/sf.woff") format("woff"), url("../fonts/sf.woff2") format("woff2"), url("../fonts/SF.otf"); }
body {
  font-family: SFPro, Helvetica, tahoma, sans-serif; }

a:hover {
  text-decoration: none; }

.title-head {
  font: 32px Exo-SemiBold; }

.text-title {
  color: #4a4a4a; }

.text-link {
  color: #4a90e2; }

.btn-custom {
  background: #4a90e2;
  color: #fff; }

.btn-common {
  font-size: 14px; }

.btn-border {
  border: 1px solid #4a90e2; }

.btn-size {
  padding: 10px 30px; }

.bg-fix {
  padding: 180px 0px 124px 0px;
  color: #fff; }
  .bg-fix .banner-title {
    font: 62px Exo-SemiBold; }
  .bg-fix p {
    font-size: 18px; }

.bg-content {
  background: url("../img/anh_nen_thu_2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%; }

.bg-content-mid {
  background: url("../img/anh_nen_thu_2.png") no-repeat center top;
  background-size: 100% 60%; }

.bg-gray {
  background: #f9fafb; }

.bg-blue {
  background: #0f6fdf; }

.bg-logo-chim {
  background: url("../img/bg/logo_chim.png") no-repeat;
  background-size: 30%;
  background-position: center 50px; }

.banner {
  color: #fff; }
  .banner .banner-title {
    line-height: 1.2 !important; }
    @media screen and (min-width: 320px) {
      .banner .banner-title {
        font: 36px Exo-SemiBold; } }
    @media screen and (min-width: 400px) {
      .banner .banner-title {
        font: 48px Exo-SemiBold; } }
    @media screen and (min-width: 768px) {
      .banner .banner-title {
        font: 52px Exo-SemiBold; } }
  .banner p {
    font-size: 18px; }
  @media screen and (min-width: 320px) {
    .banner {
      padding: 165px 0px 124px 0px; } }
  @media screen and (min-width: 1200px) {
    .banner {
      padding: 200px 0px 124px 0px; } }

.article {
  background: #f9fafb;
  padding: 70px 0px 55px 0px; }
  .article .card {
    height: 100%; }
  .article .card-title {
    font-size: 24px;
    overflow: hidden; }
    .article .card-title a {
      color: #4a4a4a; }
    @media screen and (min-width: 320px) {
      .article .card-title {
        height: auto; } }
    @media screen and (min-width: 768px) {
      .article .card-title {
        height: 60px; } }
  .article .card-text {
    font-size: 14px;
    overflow: hidden; }
    @media screen and (min-width: 320px) {
      .article .card-text {
        height: auto; } }
    @media screen and (min-width: 768px) {
      .article .card-text {
        height: 90px; } }
  @media screen and (min-width: 320px) {
    .article div[class*='col-'] {
      margin-bottom: 15px; } }

.slogan {
  padding: 102px 0px 85px 0px; }
  .slogan .icon img {
    padding: 0px 0px 51px 0px; }
    @media screen and (min-width: 320px) {
      .slogan .icon img {
        width: 120px; } }
    @media screen and (min-width: 400px) {
      .slogan .icon img {
        width: 130px; } }
  .slogan h4 {
    padding: 0px 0px 20px 0px;
    font-weight: lighter !important; }
    @media screen and (min-width: 400px) {
      .slogan h4 {
        font-size: 1.2rem;
        line-height: 1.5rem !important; } }
    @media screen and (min-width: 768px) {
      .slogan h4 {
        font-size: 1.8rem;
        line-height: 2.8rem !important; } }
  .slogan .btn-talk {
    background: #4a90e2;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 14px 35px;
    transition: all .2s; }
    .slogan .btn-talk i {
      padding: 0px 2px; }
    .slogan .btn-talk:hover {
      background: #fff;
      border: 1px solid #4a90e2;
      color: #4a90e2; }

.awards .owl-carousel .owl-item img {
  width: auto;
  margin: 30px auto; }
  @media screen and (min-width: 320px) {
    .awards .owl-carousel .owl-item img {
      outline-offset: 0px;
      outline: 1px dashed transparent; } }
  @media screen and (min-width: 400px) {
    .awards .owl-carousel .owl-item img {
      outline-offset: 12px;
      outline: 1px dashed #e8e8e8; } }
.awards .owl-carousel .owl-nav {
  display: none; }
.awards .owl-carousel .owl-dots span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 0px; }
.awards .owl-carousel .owl-dots .active span {
  width: 12px;
  height: 12px;
  background: #e8e8e8; }
@media screen and (min-width: 320px) {
  .awards .owl-carousel .owl-dots {
    margin-top: 30px !important; } }
@media screen and (min-width: 768px) {
  .awards .owl-carousel .owl-dots {
    margin-top: 60px !important; } }

.list-client .list-team {
  margin-top: 30px; }
  .list-client .list-team .list-item {
    margin-bottom: 30px; }
.list-client .text-link {
  margin: 89px 0px 81px 0px;
  transition: all .5s;
  padding: 12px 20px; }
  .list-client .text-link:hover {
    background: #4a90e2;
    color: #fff; }
  @media screen and (min-width: 320px) {
    .list-client .text-link {
      margin: 50px 0px 10px 0px;
      padding: 12px 5px; } }
  @media screen and (min-width: 400px) {
    .list-client .text-link {
      margin: 50px 0px 10px 0px;
      padding: 12px 20px; } }

.relates .relate-title {
  font-family: Exo-SemiBold;
  font-size: 20px; }
  .relates .relate-title a {
    color: #4a4a4a; }
.relates .relate-param {
  font-size: 14px;
  padding-top: 15px;
  color: #9b9b9b; }
.relates .relate-more {
  font-size: 14px;
  color: #4a90e2; }
.relates .relate-item {
  width: 100%;
  border: 1px solid #efefef;
  margin-bottom: 15px; }
  .relates .relate-item .relate-img {
    width: 100%;
    height: 230px; }
    .relates .relate-item .relate-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .relates .relate-item .relate-content {
    padding: 29px 27px 30px 27px; }
    @media screen and (min-width: 320px) {
      .relates .relate-item .relate-content {
        padding: 29px 10px 30px 10px; } }
    @media screen and (min-width: 768px) {
      .relates .relate-item .relate-content {
        padding: 20px 10px 5px 10px; } }
    @media screen and (min-width: 980px) {
      .relates .relate-item .relate-content {
        padding: 30px 15px 15px 15px; } }
    @media screen and (min-width: 1200px) {
      .relates .relate-item .relate-content {
        padding: 30px 15px 20px 15px; } }
    .relates .relate-item .relate-content p {
      margin-bottom: 0rem; }
      @media screen and (min-width: 980px) {
        .relates .relate-item .relate-content p {
          margin-bottom: 1rem; } }
.relates .relate-list {
  border: 1px solid #efefef;
  margin-bottom: 32px;
  overflow: hidden;
  height: 225px; }
  .relates .relate-list_img {
    float: left;
    width: 36%;
    height: 225px;
    overflow: hidden; }
    .relates .relate-list_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media screen and (min-width: 320px) {
      .relates .relate-list_img {
        float: none;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .relates .relate-list_img {
        float: left;
        height: 235px;
        width: 36%; } }
  @media screen and (min-width: 320px) {
    .relates .relate-list_content {
      float: none;
      width: 100%;
      padding: 20px 10px; } }
  @media screen and (min-width: 768px) {
    .relates .relate-list_content {
      float: left;
      width: 64%;
      padding: 10px;
      height: 230px; } }
  @media screen and (min-width: 1200px) {
    .relates .relate-list_content {
      padding: 20px; } }
  @media screen and (min-width: 768px) {
    .relates .relate-list_content .relate-title {
      font-size: 16px; } }
  @media screen and (min-width: 1200px) {
    .relates .relate-list_content .relate-title {
      font-size: 20px; } }
  .relates .relate-list_content .relate-param {
    font-size: 14px;
    padding-top: 15px;
    color: #9b9b9b; }
    @media screen and (min-width: 768px) {
      .relates .relate-list_content .relate-param {
        padding-top: 0px; } }
    @media screen and (min-width: 980px) {
      .relates .relate-list_content .relate-param {
        padding-top: 15px; } }
  .relates .relate-list_content p {
    margin-bottom: 0rem; }
    @media screen and (min-width: 1200px) {
      .relates .relate-list_content p {
        margin-bottom: 1rem; } }
  @media screen and (min-width: 320px) {
    .relates .relate-list {
      height: auto;
      margin-bottom: 15px; } }
  @media screen and (min-width: 768px) {
    .relates .relate-list {
      height: 235px;
      margin-bottom: 32px; } }
  @media screen and (min-width: 980px) {
    .relates .relate-list {
      height: 225px;
      margin-bottom: 23px; } }

.upper-first-text:first-letter {
  text-transform: uppercase;
  float: left;
  padding: 4px 8px 0 0;
  display: block;
  color: #4a4a4a;
  font: 96px/64px sans-serif; }

.project-item {
  background: #fff;
  box-shadow: 0px 0px 5px 1px #e1e1e1;
  width: 100%;
  margin-bottom: 50px; }
  @media screen and (min-width: 320px) {
    .project-item {
      height: auto; } }
  @media screen and (min-width: 768px) {
    .project-item {
      height: 300px; } }
  @media screen and (min-width: 1200px) {
    .project-item {
      height: 360px; } }
  .project-item .project-img {
    overflow: hidden;
    float: left; }
    @media screen and (min-width: 320px) {
      .project-item .project-img {
        float: none;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .project-item .project-img {
        float: left;
        width: 35%;
        height: 300px; } }
    @media screen and (min-width: 1200px) {
      .project-item .project-img {
        height: 360px;
        width: 45%; } }
    .project-item .project-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .project-item .project-content {
    padding: 22px;
    float: left; }
    @media screen and (min-width: 320px) {
      .project-item .project-content {
        float: none;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .project-item .project-content {
        width: 65%;
        float: left;
        height: 300px; } }
    @media screen and (min-width: 1200px) {
      .project-item .project-content {
        height: 360px;
        width: 55%; } }
    .project-item .project-content h3 {
      font-size: 24px;
      font-family: Exo-SemiBold; }
      .project-item .project-content h3 a {
        color: #4a4a4a; }
      @media screen and (min-width: 320px) {
        .project-item .project-content h3 {
          margin-bottom: 20px; } }
      @media screen and (min-width: 1200px) {
        .project-item .project-content h3 {
          margin-bottom: 40px; } }
    .project-item .project-content p {
      font-size: 14px;
      color: #9b9b9b;
      height: 160px; }
      @media screen and (min-width: 320px) {
        .project-item .project-content p {
          height: auto; } }
    .project-item .project-content .btn-link {
      font-size: 14px; }
      .project-item .project-content .btn-link:hover {
        text-decoration: none; }

.project .btn-custom {
  padding: 14px 40px; }
  .project .btn-custom:hover {
    background: #fff;
    border: 1px solid #4a90e2;
    color: #4a90e2; }

.overview {
  font-size: 18px;
  padding: 10px 60px;
  margin: 10px 0px 20px 0px;
  line-height: 1.6; }

.tag a {
  background: #4a90e2;
  color: #fff;
  font-size: 12px;
  padding: 5px 14px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px; }
  .tag a:hover {
    background: #2665af; }
@media screen and (min-width: 320px) {
  .tag {
    height: auto;
    margin-bottom: 10px; } }
@media screen and (min-width: 980px) {
  .tag {
    height: 80px;
    margin-bottom: 0px; } }

.title-color {
  color: #4A4A4A; }

.p-top {
  margin-top: 70px; }

.h3-title {
  font-weight: 600; }
  @media screen and (min-width: 320px) {
    .h3-title {
      font-size: 23px; } }
  @media screen and (min-width: 768px) {
    .h3-title {
      font-size: 30px; } }
  @media screen and (min-width: 1200px) {
    .h3-title {
      font-size: 45px; } }

.p-content {
  color: #4A4A4A; }
  @media screen and (min-width: 320px) {
    .p-content {
      font-size: 13px; } }
  @media screen and (min-width: 1200px) {
    .p-content {
      font-size: 16px; } }

.btn-more-all {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: center;
  background: #4A90E2;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 40px; }

p.content-top {
  font-family: Exo-SemiBold;
  line-height: 1.5;
  color: #4A4A4A;
  margin-bottom: 0; }
  @media screen and (min-width: 320px) {
    p.content-top {
      font-size: 18px; } }
  @media screen and (min-width: 768px) {
    p.content-top {
      font-size: 20px; } }
  @media screen and (min-width: 1200px) {
    p.content-top {
      font-size: 24px; } }

.item-help {
  margin-bottom: 40px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .item-help img {
      width: 10%; } }
  @media (max-width: 767.98px) {
    .item-help img {
      width: 18%; } }

h5.title-small {
  font-family: Exo-SemiBold;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4;
  color: #4A4A4A; }
  @media (max-width: 980px) {
    h5.title-small {
      font-size: 18px; } }

/*# sourceMappingURL=common.css.map */
